.beer-home {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .beer-home-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
  }

  .beer-home-card-container {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 15px 0px #635f801a;
    gap: 20px;

    .beer-home-card {
      display: flex;
      height: 145px;
      border-radius: 8px;
      box-shadow: 2px 2px 15px 0px #635f801a;
      cursor: pointer;

      .beer-home-card-image {
        width: 153px;
        height: 100%;
        background-color: gray;
        border-radius: 8px;
      }

      .beer-home-card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 27px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        .beer-home-card-rating {
          display: flex;
          justify-content: flex-start;
          align-content: center;
          line-height: 50%;
          color: #f1b61c;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
