.beer-button {
  width: 9rem;
  height: 3rem;
  color: var(--beer-color-primary);
  background-color: var(--beer-color-white);
  border: 1px solid var(--beer-color-primary);
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: var(--beer-color-white);
    background-color: var(--beer-color-primary);
  }
}
