.beer-my-page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
}

.beer-my-page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: 800;
}

.beer-user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 4px 2px 8px gray;
  border-radius: 8px;

  img {
    width: 81.25px;
    height: 81.25px;
    border-radius: 50%;
  }

  .beer-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .beer-user-rating {
      color: gray;
    }
  }
}

.beer-my-review-wrapper {
  width: 100%;

  .beer-my-review-title {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  .beer-my-review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    .beer-review-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 245px;
      border-radius: 8px;
      box-shadow: 0 0 10px gray;

      .beer-review-image {
        width: 100%;
        height: 100%;
        background: gray;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .beer-review-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-left: 20px;

        .beer-review-rating {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f1b61c;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
