.beer-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;

  .beer-detail {
    display: flex;
    justify-content: center;

    .beer-image {
      width: 8rem;
      height: 12rem;

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .beer-info-detail {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 800;

    .beer-info-price {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }

  .beer-review-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f1b61c;
    font-size: 1rem;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

.beer-info-btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    width: 8rem;
    padding: 1rem;
    background-color: var(--beer-color-primary);
    color: var(--beer-color-white);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid var(--beer-color-primary);
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--beer-color-primary-d1);
    }
  }
}

.beer-info-comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem;

  .beer-info-comment-title {
    padding-bottom: 1rem;
  }

  .beer-info-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}

.beer-info-images-section {
  display: flex;
  flex-direction: column;

  .beer-info-image-title {
    font-weight: 700;
    font-size: 1.25rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .beer-info-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    img {
      width: 8rem;
      height: 8rem;
    }
  }
}
